<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleMenu()">
      <md-icon class="white" md-svg-icon="img/icons/ic_menu_black_24px.svg"></md-icon>
    </md-button>
    <h2>
      <span>Motions</span>
    </h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="More">
      <md-icon class="white" md-svg-icon="img/icons/ic_more_vert_black_24px.svg"></md-icon>
    </md-button>
  </div>
</md-toolbar>

<md-tabs md-selected="selectedIndex" class="md-primary" md-no-pagination="true" md-swipe-content="false">
  <md-tab label="Latest" md-on-select="go('motions.latest')">
    <div ui-view="latest"></div>
  </md-tab>
  <md-tab label="Upcoming" md-on-select="go('motions.upcoming')">
    <div ui-view="upcoming"></div>
  </md-tab>
</md-tabs>
