@import url(../lib/angular-material/angular-material.css);
/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Roboto'; }

md-icon.md-default-theme {
  color: rgba(255, 255, 255, 0.87); }

md-toolbar.md-default-theme {
  color: rgba(255, 255, 255, 0.87);
  box-shadow: none;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.005em; }
  md-toolbar.md-default-theme h1, md-toolbar.md-default-theme h2 {
    font-weight: normal;
    color: inherit;
    margin: 0;
    line-height: inherit; }

md-content#main {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0; }

md-tabs {
  top: 63px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute; }

md-sidenav .md-button {
  text-align: left; }

.md-tabs-content {
  bottom: 0;
  top: 112px;
  left: 0;
  right: 0;
  position: absolute; }

.md-paginating .md-header-items-container {
  left: 0;
  right: 0; }

a.md-button.md-default-theme.md-fab, .md-button.md-default-theme.md-fab {
  position: fixed;
  bottom: 2%;
  right: 2%; }
